* {
  font-family: Helvetica, "Lucida Grande", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: fff;
}
header {
  height: 450px;
  width: 100%;
  border: red 2px solid;
  display: block;
  position: relative;
}
.circle-img-1 {
  margin-top: 90px;
  margin-left: 40px;
  position: absolute;
}

.circle-img-1 img {
  border: white 10px solid;
  border-radius: 50%;
  width: 30%;
}
ul {
  list-style-type: none;
}

nav {
  background-color: wheat;
}

nav li {
  color: rgb(20, 63, 99);
  margin-right: 25px;
  padding-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  float: right;
}

nav li:hover {
  color: rgb(201, 97, 97);
  border-bottom: rgb(201, 97, 97) 2px solid;
}

.content a {
  color: rgb(20, 63, 99);
  font-size: 20px;
  cursor: pointer;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px;
}

.content li {
  color: rgb(201, 97, 97);
  font-size: 20px;
  font-weight: lighter;
  line-height: 50px;
}
.header-bg {
  height: 400px;
  width: 100%;
  background-image: url("../images/horseshoe.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  margin-bottom: auto;
}

h2 {
  color: rgb(201, 97, 97);
  font-weight: lighter;
}

section {
  border: rgb(37, 111, 172) 2px solid;
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
}

.card {
  border-right: rgb(201, 97, 97) 7px solid;
  min-width: 15%;
  min-height: 200px;
  text-align: right;
  float: left;
  padding-right: 15px;
}

.content {
  border: springgreen 2px solid;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.bg-color {
  background-color: rgb(201, 97, 97) 7px;
}
.content img {
  width: 95%;
}

.img-1 {
  flex: 20;
  flex-wrap: wrap;
}

.img-2,
.img-3,
.img-4 {
  flex: 15;
  flex-wrap: wrap;
}

.footer a {
  color: rgb(20, 63, 99);
  font-size: 20px;
  cursor: pointer;
  font-weight: lighter;
  text-decoration: none;

}
